{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Your shortened URLs{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if data %}
        <table>
            <tr>
                <th>№</th>
                <th>Short url</th>
                <th>Original url</th>
                <th>Clicked</th>
                <th>Date created</th>
            </tr>
            {% for row in data %}
                <tr>
                    <td style="text-align: center">{{ forloop.counter }}</td>
                    <td>{{ path }}{{ row.short_url }}</td>
                    <td><a href="{{ row.long_url }}" class="link">{{ row.long_url }}</a></td>
                    <td style="text-align: center">{{ row.clicks }}</td>
                    <td>{{ row.created }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="centered" style="color: orange; margin: 3em 0 3em 0;">
            <p>You haven't shortened any URLs yet...</p>
            <p>Go ahead and create some shorturls now!</p>
        </div>
    {% endif %}

{% endblock %}